<nav class="nav-bar">
    <a href="index.html">
        <img class="logo-icon" src="assets/images/logo-icon.png">
    </a>
    <button class="toggle-colapse">
        <i class="fas fa-bars fa-lg"></i>
    </button>
    <div class="navbar-collapse">
        <ul class="nav-bar">
            <li><a href="eletronica/eletronica.html">Eletrônica</a></li>
            <li><a href="mecanica/mecanica.html">Mecânica</a></li>
            <li><a href="gestao/gestao.html">Gestão</a></li>
            <li><a href="">Sobre</a></li>
            <li><a href="">Contribua</a></li>
            <li><a href="">Contato</a></li>
        </ul>
    </div>
</nav>