<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta name="description" content="{{ site.title | default: site.github.repository_name }} : {{ site.description | default: site.github.project_tagline }}">

    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico">

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        TeX: {
          equationNumbers: {
            autoNumber: "AMS"
          },
          Macros: {
            eff: "{\\mathscr{f}}",
            emm: "{\\mathscr{m}}",
            enn: "{\\mathscr{n}}",
            reals: "{\\mathbb{R}}"
          },
          extensions: ["[Contrib]/siunitx/siunitx.js", "color.js"],
        },
        SVG: {
          font: "STIX-Web"
        }
      });
      MathJax.Ajax.config.path["Contrib"] = "/assets/scripts";
    </script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS_SVG"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" >

{% seo %}
  </head>

  <body>
    <!-- HEADER -->
    <div id="header_wrap" class="outer">
      <header class="content">
        <div>
            <div class="content-info">
                <i class="fas fa-code fa-lg"></i>
                <span class="content-type">
                    <b>Tutorial</b>
                </span>
                <img class="logo-texto-medio" src="../assets/images/logo-texto.png">
            </div>
            <div class="breadcrumb">
                <a href="index.html"><b>Início</b> > </a>
                <!-- Troque "Eletrônica" pelo nome da área correta e o link de forma correspondente -->
                <a href="./eletronica/eletronica.html"><b>Eletrônica</b> > </a>
                <!-- Troque "Guia de Programação" pelo título do documento em questão -->
                <a><b>Guia de Programação</b></a>
            </div>
        </div>
    </header>
    </div>
  </body>
</html>
